@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-uni-blue:  #00a9db;
  --color-uni-red:   #dc021b;
  --color-uni-light: #8d8d8d;
  --color-uni-grey:  #5c5c5c;
  --color-uni-black: #3b3b3b;
  --color-uni-selec: #00a9db;
  --color-uni-pink:  #ec808c;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --input-text-color: var(--foreground-rgb);
  --input-background-color: var(--background-start-rgb);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --input-text-color: var(--foreground-rgb);
    --input-background-color: var(--background-start-rgb);
  }
}

input {
  color: rgb(var(--input-text-color));
  background-color: rgb(var(--input-background-color));
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.center-fix::before , 
.center-fix::after {
  content:'';
  flex:1;
}


